header {
    background: rgb(102, 118, 138);
    height: 500px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
}

nav * {
    color: white; 
    float: left;
    width: 7%;
    display: block;
}

nav > a {
    margin-left: 15px;
}

nav a + a{
    margin-left: 0px;
    margin-right: 33%;
}

nav h2 {
    margin-right: 38%;      
}

nav button {
    color: blue; 
    float: right;
    margin-top: 0%;
    /* CLASS FOR THIS BUTTON HAS CHANGED, NOW IS CLASS "DONATE" */
}

header section {
    text-align: center;
    width: 50%;
}

header section h1 {
    display: inline-block;
    font-size: 56px;
    width: 100%;
    margin-left: 48%;  
    margin-bottom: 3%;
}

header section p {
    font-size: 17.5px;
    display: inline-block;
    width: 100%;
    margin-left: 48%;
}

header section a {
    color: white;
    float: left;
    width: 195%;
    font-size: 17.5px;
}

.second-block {
    font-family: 'Oswald', sans-serif;
    height: 400px;
}

.second-block *{
    float: left;
    text-align: center;
    margin-left: 46%;
    display: block;
}

.second-block h1 {
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 0%;
}

.second-block p {
    float: left;
    font-size: 17.5;
    text-align: center;
    width: 40%;
    margin-left: 28%;
    color: rgb(88, 93, 103);
}

.second-block + .third-block > section {
    float: left;
    width: 48%;
    text-align: center;
    height: 400px;
}

.third-block {
    float: left;
    width: 100%;
    height: 650px;
    font-family: 'Oswald', sans-serif;
    background: rgb(220, 223, 226);
}

.third-block p {
    color: rgb(88, 93, 103);
    margin-left: 170px;
    width: 50%;
}

.third-block > .first-square{
    float: left;
    margin-top: 100px;
    text-align: center;
}

.third-block .second-square {
    float: left;
    margin-left: 42px;
    margin-top: 100px;
    text-align: center;
}

.first-square img {
    height: 200px;
    width: 400px;
}

.second-square img {
    height: 200px;
    width: 400px;
}

.third-block button {
    border: 1px solid rgb(88, 93, 103);
    background: rgb(220, 223, 226);
    height: 50px;
    width: 200px;
}

.fourth-block {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.fourth-block > section {
    margin-top: 42px;
    float: left;
    width: 100%;
    height: 400px;
    
}

.fourth-block h1 {
    font-size: 40px;
    margin-bottom: 0%;
}

.fourth-block p {
    font-size: 17.5px;
    color: rgb(88, 93, 103);
    width: 35%;
    margin-left: 32%;
    text-align: center;
    
}

.fourth-block button {
    border: 1px solid rgb(88, 93, 103);
    background: white;
    height: 50px;
    width: 200px;   
}
















 
