* {
    font-family: 'Oswald', sans-serif;
}

nav * {
    float: left;
    width: 5%;
    text-decoration: none;
}

nav a {
    color: white;
    font-size: 15px;
}  

nav > a {
    margin-left: 15px;
}

nav h2 {
    float: left;
    width: 75%;
    text-align: center;
    color: white;
    
}

main nav button {
    float: left;
    height: 40px;
    width: 100px;
    margin-left: 5%;
    border-radius: 10px;
    font-size: 15px;
    color: rgb(105, 117, 136);
    
}

main section {
    float: left;
    height: 500px;
    text-align: center;
    background: rgb(105, 117, 136);
    
}

main section h1 {
    font-size: 70px;
    float: left;
    width: 100%;
    color: white;
}

main section p {
    float: left;
    font-size: 20px;
    margin: 0 20% 5% 20%;  
    color: white;
}

main section section a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.block-two section {
    float: left;
    text-align: center;
    margin-top: 10%;
    height: 350px;
}

.block-two section h1 {
    font-size: 40px;
    margin-bottom: 0%;
}

.block-two section p {
    float: left;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgb(83, 82, 82);
    width: 40%;
    margin-left: 30%;
}

.block-three section {
    float: left;
    width: 50%;
    text-align: center;
    background: rgb(221, 223, 226);
}

.block-three img {
    height: 200px;
    margin-top: 15%;
}

.block-three section + section img {
    width: 350px;
}

.block-three section p {
    font-family: 'Roboto', sans-serif;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
    color: rgb(56, 61, 70);
}

.block-three button {
    font-family: 'Oswald', sans-serif;
    height: 40px;
    width: 160px;
    margin-bottom: 15%;
    color: rgb(56, 61, 70);
    border: 1px solid rgb(51, 51, 51);
    background: rgb(221, 223, 226);   
}

.block-four section {
    float: left;
    text-align: center;
}

.block-four h1 {
    font-size: 40px;
    margin-top: 5%;
}

.block-four p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 40%;
    margin-left: 30%;
    color: rgb(83, 82, 82);
}

.block-four button {
    height: 40px;
    width: 160px;
    margin-bottom: 5%;
    color: rgb(56, 61, 70);
    border: 1px solid rgb(51, 51, 51);
    background: white;
}

.block-five .first-block section {
    float: left;
    width: 50%;
}

.block-five .second-block section {
    float: left;
    width: 50%;
}

.first-block section h3 + h3 {
    float: left;
    width: 50%;
    border: 2px solid pink;
}

.first-block section li {
    list-style: none;
    float: left;
    width: 70px;
}

.first-block section + section h3{
    border: 2px solid pink;
    width: 150px;
}















































 
